<html>
    <head>
        <title>Report for the </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <style>
            @media (min-width: 1200px) {
                .modal-xl {
                    --bs-modal-width: 1400px !important;
                }
            }
        </style>
    </head>
    <body>
        <section class="container-fluid">
            <h3>{{ name }}</h3>
            <table class="table table-responsive table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>Severity</th>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Github</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for name, errors in severities %}
                    {% for error in errors %}
                        <tr class="{% if name == 'LOW' %} table-info {% elseif name == 'MEDIUM' %} table-warning {% elseif name == 'HIGH' %} table-danger {% endif %}">
                            <td>{{ name }}</td>
                            <td><a href="https://www.cve.org/CVERecord?id={{ error.cveID }}" target="_blank" title="{{ error.cveID }}">{{ error.cveID }}</a></td>
                            <td>{{ error.title }}</td>
                            <td><a href="{{ error.githubLink }}" target="_blank"><i class="fa fa-share"></i></a></td>
                            <td><button class="btn btn-secondary dropdown-btn" type="button" data-drop="more-{{ error.cveID }}" title="Plus d'information"><i class="fa fa-info"></i></button></td>
                        </tr>
                        <tr id="more-{{ error.cveID }}" style="display: none;" >
                            <td colspan="5">
                                <table class="table table-bordered table-dark" >
                                    <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th style="width: 300px;">Affected</th>
                                        <th>Reference</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            {% for description in error.more.descriptions %}
                                                {{ description.value }}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for affected in error.more.affected %}
                                                vendor: {{ affected.vendor }}<br><br>
                                                product: {{ affected.product }}<br><br>
                                                version:<br><br>

                                                {% for version in affected.versions %}
                                                    <span>{{ version.version }}</span> : <span>{{ version.status }}</span><br><br>
                                                {% endfor %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for reference in error.more.references %}
                                                <a href="{{ reference.url }}" target="_blank" title="{{ reference.tags|join(', ') }}">{{ reference.tags|length > 0 ? reference.tags|join(', ') : reference.url }} <i class="fa fa-share"></i></a><br><br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </section>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script type="text/javascript">
            let table = new DataTable('#myTable');
        $(document).ready(function () {
            $('#example').DataTable({
                order: [[0, 'desc']],
            });

            $(document).on('click', '.dropdown-btn').click(function() {
                let id = $(this).data('drop');
                $('.modal-body').html($('#'+id).html());
                $('.modal-title').text(id);
                $('.modal').modal('toggle')
            })
        });
    </script>
    </body>
</html>